.triangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 160px;
  overflow: hidden;
}

.home-desktop-light,
.rectangle {
  position: absolute;
  top: 42px;
  left: 39px;
  width: 946px;
  height: 32px;
}

.rectangle {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  height: 80px;
}

.filter-by-title-parent {
  position: absolute;
  top: 28px;
  left: 24px;
  width: 210px;
  height: 24px;
  overflow: hidden;
}

.filter-by-location-parent {
  position: absolute;
  top: 28px;
  left: 273px;
  width: 186px;
  height: 24px;
  overflow: hidden;
}

.full-time-parent {
  position: absolute;
  top: calc(50% - 9px);
  left: 378px;
}

.group {
  position: absolute;
  top: 28px;
  left: 571px;
  width: 144px;
  height: 24px;
  overflow: hidden;
}

.rectangle-copy-2,
.rectangle-copy-3 {
  position: absolute;
  top: 0;
  left: 222px;
  background-color: var(--color-slategray);
  width: 1px;
  height: 80px;
  opacity: 0.2;
  mix-blend-mode: normal;
}

.rectangle-copy-3 {
  left: 435px;
}

.search {
  position: absolute;
  top: calc(50% - 8px);
  left: 176px;
}

.group-5-copy,
.group-5-copy-2 {
  position: absolute;
  width: 80px;
  height: 48px;
}

.group-5-copy {
  top: 0;
  left: 0;
  overflow: hidden;
}

.group-5-copy-2 {
  top: 16px;
  left: 841px;
  text-align: center;
  color: var(--color-white);
}

.rectangle-parent {
  position: absolute;
  top: 120px;
  left: 39px;
  width: 946px;
  height: 80px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}

.rectangle-group {
  position: absolute;
  top: 245px;
  left: 39px;
  width: 946px;
  height: 253px;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
}

.vector-parent {
  position: absolute;
  top: 74px;
  left: 32px;
  width: 286px;
  height: 147px;
  overflow: hidden;
}

.rectangle-parent1 {
  position: absolute;
  top: 538px;
  left: 39px;
  width: 946px;
  height: 253px;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
}

.rectangle-group-2 {
  position: absolute;
  top: 831px;
  left: 39px;
  width: 946px;
  height: 253px;
  overflow: hidden;
}

.rectangle-group-3 {
  position: absolute;
  top: 1124px;
  left: 39px;
  width: 946px;
  height: 253px;
  overflow: hidden;
}

.rectangle-group-4 {
  position: absolute;
  top: 1417px;
  left: 39px;
  width: 946px;
  height: 253px;
  overflow: hidden;
}

.rectangle-group-5 {
  position: absolute;
  top: 1710px;
  left: 39px;
  width: 946px;
  height: 253px;
  overflow: hidden;
}

.group-5-copy-21,
.group-5-copy1 {
  position: absolute;
  width: 141px;
  height: 48px;
}

.group-5-copy1 {
  top: 0;
  left: 0;
  overflow: hidden;
}

.group-5-copy-21 {
  top: 2019px;
  left: 441px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
